<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 position-fixed top-50 start-0 translate-middle-y">
            <div class="container">
                <div class="row my-3">
                    <div class="col-md-6">
                        <input type="text" class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" placeholder="Jobs in Canada, Netherlands, India">
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="col-md-8 offset-md-4">
            <div class="container overflow-auto" style="padding: 10px; max-height: 100vh;">
            
                <div class="row">
                    <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 d-flex">
                        <div class="card mb-4 shadow d-flex flex-column">
                          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
                          <div class="card-body d-flex flex-column">
                            <p class="card-title">Create Outstanding Resume
                            </p>
                            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
                              important than ever. Your resume is often the first impression you make on a potential employer, so it's
                              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
                              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
                            </p>
                            <a routerLink="/job4joblessp/16745" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer> -->


<div class="container">
    <div class="row">
        <h1>Best Career Options After 12th Science (PCM)
        </h1>
    </div>
</div>


<app-footer></app-footer>