.blogs-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* 3/4 and 1/4 columns */
  gap: 20px;
  /* Adjust as needed */
}

.trending-blogs {
  border: 1px solid #ccc;
  /* Border for visual separation */
  padding: 10px;
}

.blog-item {
  margin-bottom: 10px;
}

.blog-info {
  /* display: flex; */
  align-items: center;
}

.blog-info img {
  margin-right: 10px;
}

.table-style {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.table-padding {
  padding-left: 3%;
  padding-right: 3%;
}

.table-desc {
  width: 100%;
  /* padding-right: 5%; */
}

.padding-row {
  padding-top: 2%;
  padding-bottom: 2%;
}

.custom-button {
  background-color: #ccc;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* Additional CSS for tags */
.tag {
  background-color: #f2f2f2; /* Greyish background */
  padding: 4px 8px; /* Adjust padding as needed */
  border-radius: 8px; /* Rounded corners */
  margin-right: 5px; /* Adjust spacing between tags */
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.category-button {
  background-color: #C6E2FF;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 4px;
  cursor: pointer;
  font-size: 17px;
}


.trends{
  padding-top: 10%;
}

.button-style
{
  padding-top: 2%;
}

/* Floating sign-in button style */
.floating-signin-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000; 
}

/* Style for the button on hover */
.floating-signin-button:hover {
  background-color: #C6E2FF;
  color: black;
}

.eye-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-bar {
  display: flex; /* Use flexbox to align items */
  justify-content: center;
  margin-bottom: 20px; /* Add some bottom margin for spacing */
  margin-right: 25%;
  margin-left: 3%;
}

.search-bar input {
  width: 90%; /* Make the input element fill its container */
  padding: 12px; /* Add padding to the input for better spacing */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 25px; /* Add border-radius for rounded corners */
  box-shadow: none; /* Remove any default box shadow */
  transition: border-color 0.3s ease; /* Add transition for border color change */
}

.search-bar input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .search-bar input {
    padding: 10px; /* Reduce padding on smaller screens */
    font-size: 14px; /* Decrease font size on smaller screens */
  }
}

.centered-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-buttons button {
  margin: 0 5px; /* Adjust margin as needed */
}