<!-- <section class="blog-posts custom-font" style="margin: 50px auto;">
  <div class="container">
 
    <div class="row">
   
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/jobinterview.jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>How To Make a Best Impression on a Job Interview: 20 Tips
            </h1>
            <p class="card-text text-justify">Do you wish to make a good impression on a job interview? Is your dream
              job just an interview away? Are you looking for proven expert interview tips? If yes, you have come to the
              right place.
            </p>
            <p>We understand that getting your desired job is not an easy task. There are lots of struggles, starting
              from education to clearing entrance examinations and, of course, getting the required merit.</p>
            <a routerLink="/blog/jobinterviewtips" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/bestcareeroptionblog.jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Best Career Options After 12th Science (PCM)
            </h1>
            <p class="card-text text-justify">Have you cleared your 12th PCM with good marks and a stunning CGPA? Are
              you looking for the best career options
              after your school? Do you wish to take admission to the best courses that offer hefty salary packages?
            </p>
            <p>If yes, you have come to the right place. Today, we will highlight some of the best career options along
              12th
              Science (PCM) With Salary packages. But first, you should know a few things about PCM.</p>
            <a routerLink="/blog/careeroptionaftr12" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Expertise-&-Experience-min.jpg" alt="Blog Post 3" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Powerful Assessments Tool
            </h1>
            <p class="card-text text-justify">In today's competitive job market, employers are constantly seeking ways
              to identify the most qualified candidates for their organizations. With the ever-changing landscape of
              skills and competencies required in various industries, it can be challenging to accurately assess an
              individual's abilities. This is where assessments come into play, serving as a powerful tool for skill
              validation.
            </p>
            <a routerLink="/blog/powerfulassessmentstool" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
  
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Seamless-Experience-min.jpg" alt="Blog Post 2" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Stress-Free Job Hunting
            </h1>
            <p class="card-text text-justify">Are you feeling overwhelmed and stressed out by the job hunting process?
              You're not alone. Searching for a job can be a challenging and anxiety-inducing experience. But don't
              worry, we're here to help! Here are some stress-free job hunting tips to help you manage the stress and
              make the process a little bit easier.
            </p>
            <a routerLink="/blog/stressfreejobhunting" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="card mb-4 shadow d-flex flex-column">
          <img src="assets/Connecting-Perfect-Matches-min (1).jpg" alt="Blog Post 1" class="card-img-top">
          <div class="card-body d-flex flex-column">
            <h1>Create Outstanding Resume
            </h1>
            <p class="card-text text-justify">In today's competitive job market, having an outstanding resume is more
              important than ever. Your resume is often the first impression you make on a potential employer, so it's
              crucial to make it count. To help you create a resume that grabs attention, we've compiled a list of dos
              and don'ts. Follow these guidelines to craft a resume that stands out from the crowd.
            </p>
            <a routerLink="/blog/createoustandingresume" class="btn custom-btn rounded-pill mt-auto ">Read More</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center mt-4">
      <div class="colmd-4"></div>
      <div class="col-md-2">
      
      </div>
    </div>
  </div>
</section> -->


<div class="search-bar">
  <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search blogs..."
    (input)="filterBlogs()">
</div>

<div *ngIf="loading; else content">
  <p>Loading...</p>
</div>

<ng-template #content>
  <button class="floating-signin-button" (click)="openSignInModal()">Sign In</button>
  <div class="blogs-container" style="margin-left: 3%; margin-right: 3%;">
    <!-- Latest Blogs -->
    <div class="latest-blogs" style="border-right: 2px solid #ccc;">

      <ul style="list-style-type: none; ">
        <li *ngFor="let blog of blogs" class="blog-item">
          <div class="table-padding">
            <table class="" style="width: 100%;">
              <tr class="padding-row">
                <td style="width: 80%; border-bottom: 1px solid #ccc;" class="padding-row">
                  <h1><a (click)="navigateToBlogDetails(blog.blog_id)" style="text-decoration: none;">{{ blog.title }}</a></h1>
                  
                  <p class="description">{{ blog.des }}</p>
                  <div class="button-style">
                    <span *ngFor="let tag of blog.tags" class="category-button">{{ capitalizeFirstLetter(tag) }}</span>
                  </div>
                </td>
                <td style="border-bottom: 1px solid #ccc; padding-left: 8%;">
                  <img [src]="blog.banner" alt="Blog Image" width="145" height="100">
                </td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
      <button (click)="loadMoreBlogs()" class="load-more-button">
        Load More
      </button>
    </div>

    <!-- Trending Blogs -->
    <div class="trending-blogs" style="border: none;">
      <div>
        <h1>Blogs covering a spectrum of interests</h1>
        <div class="categories-container">
          <div class="category-buttons">
            <button *ngFor="let category of categories" class="category-button">{{
              capitalizeFirstLetter(category)}}</button>
          </div>
        </div>
        <h2 class="trends">Trending Blogs</h2>
      </div>
      <div>
        <ul style="list-style-type: none; ">
          <li *ngFor="let blog of trendingBlogs; let i = index" class="blog-item">
            <table style="width: 100%;">
              <tbody>
                <tr class="blog-item" style="margin-bottom: 200px;">
                  <td style="padding-right: 20px; font-size: 3.5rem; color: rgb(214, 214, 214); font-weight: bold;">{{ i
                    + 1 }}</td> <!-- Displaying the index plus 1 to start from 1 -->
                  <td style="padding-right: 10%; text-align: left;">
                    <h1>{{ truncateTitle(blog.title)}}</h1>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<div class="modal" id="signInModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeSignInModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your sign-in form here -->
        <!-- For example: -->
        <form [formGroup]="loginform" (ngSubmit)="login(loginform)">
          <div class="form-group">
            <input type="text" class="form-control px-4 rounded-pill" formControlName="userName" id="userName"
              placeholder="Username or Email"
              [ngClass]="{ 'is-invalid': loginform.get('userName')?.invalid && loginform.get('userName')?.touched }" />
            <div class="invalid-feedback" *ngIf="loginform.get('userName')?.hasError('required')">
              Username or Email is required.
            </div>
          </div>
          <div class="form-group d-flex justify-content-between align-items-center">
            <input type="password" class="form-control px-4 rounded-pill" formControlName="userPassword"
              id="userPassword" placeholder="Password" [type]="passwordVisible ? 'text' : 'password'" />
            <div (click)="togglePasswordVisibility()" class="px-2 eye-icon">
              <div *ngIf="passwordVisible; else hidePassword">
                <i class="fa-solid fa-eye-slash"></i>
              </div>
              <ng-template #hidePassword>
                <i class="fa-solid fa-eye"></i>
              </ng-template>
            </div>
          </div>
          <div class="form-group d-flex flex-column justify-content-center align-items-stretch">
            <button type="submit" class="btn rounded-pill my-3" style="background-color: #1E2E5C; color: white;">Sign
              In</button>
            <button class="btn rounded-pill custom-google" (click)="loginWithGoogle()">
              <i class="fab fa-google"></i>&nbsp; &nbsp;Sign In with Google
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>