/* Style the eye icon for the employer password toggle */
.fa-eye {
    cursor: pointer;
  }
  
  .fa-eye-slash {
    cursor: pointer;
  }
  .custom-pillss {
    color: white;
    background-color: #1e2e5c;
}