.status-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.status-option:hover {
  background-color: #f0f0f0;
}
.custom-btn {
  color: white;
  background-color: #1e2e5c;
}

.status-tracker {
  display: flex;
  align-items: center;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.status-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px;
}

.status.active {
  background-color: #388a53; /* Active color */
}
