.status-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.status-option:hover {
  background-color: #f0f0f0;
}
.custom-btn {
  color: white;
  background-color: #1e2e5c;
}

/* Style for the status tracker */
.status-tracker {
  display: flex;
  justify-content: space-between;
}

/* Style for each status */
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the status label */
.status-label {
  margin-top: 8px;
}

/* Style for the icons */
.fa-clock {
  color: #007bff; /* Blue color for Waiting */
}

.fa-eye {
  color: #fb9379; /* Light orange color for Reviewed */
}

.fa-check {
  color: #388a53; /* Green color for Selected */
}

.fa-times {
  color: #ac2402; /* Red color for Rejected */
}
