.status-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.status-option:hover {
  background-color: #f0f0f0;
}
.custom-btn {
  color: white;
  background-color: #1e2e5c;
}

.status-tracker {
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.status-segment {
  height: 100%;
}

.status-segment.waiting {
  background-color: #ccc;
}

.status-segment.reviewed {
  background-color: #fb9379;
}

.status-segment.selected {
  background-color: #388a53;
}

.status-segment.rejected {
  background-color: #ac2402;
}
