<!-- subadmindetails.component.html -->
<div class="container">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Define columns -->
            <ng-container matColumnDef="subadminame">
                <th mat-header-cell *matHeaderCellDef> Subadmin Name </th>
                <td mat-cell *matCellDef="let element"> {{element.subadminame}} </td>
            </ng-container>

            <ng-container matColumnDef="subadminmail">
                <th mat-header-cell *matHeaderCellDef> Subadmin Email </th>
                <td mat-cell *matCellDef="let element"> {{element.subadminmail}} </td>
            </ng-container>

            <ng-container matColumnDef="manageUsers">
                <th mat-header-cell *matHeaderCellDef> Manage Users </th>
                <td mat-cell *matCellDef="let element"> {{element.manageUsers ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="manageEmployers">
                <th mat-header-cell *matHeaderCellDef> Manage Employers </th>
                <td mat-cell *matCellDef="let element"> {{element.manageEmployers ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="postJob">
                <th mat-header-cell *matHeaderCellDef> Post Job </th>
                <td mat-cell *matCellDef="let element"> {{element.postJob ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="applyJob">
                <th mat-header-cell *matHeaderCellDef> Apply Job </th>
                <td mat-cell *matCellDef="let element"> {{element.applyJob ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="manageBlogs">
                <th mat-header-cell *matHeaderCellDef> Manage Blogs </th>
                <td mat-cell *matCellDef="let element"> {{element.manageBlogs ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="pushNotification">
                <th mat-header-cell *matHeaderCellDef> Push Notification </th>
                <td mat-cell *matCellDef="let element"> {{element.pushNotification ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="approveJobDetails">
                <th mat-header-cell *matHeaderCellDef> Approve Job Details </th>
                <td mat-cell *matCellDef="let element"> {{element.approveJobDetails ? 'Yes' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-primary mr-2" (click)="redirectToUpdateSubadmin(element.subadminid)">Edit</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="actionsa">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger" (click)="deleteSubAdmin(element.subadminid)">Delete</button>
                </td>
            </ng-container>

            <!-- Define table rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
