<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form class="shadow p-4 rounded bg-light">
                <div class="form-group" >
                  <label for="nhead">Notification Head:</label>
                  <input type="text" id="nhead" formControlName="nhead" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="nsubhead">Notification Subhead:</label>
                  <input type="text" id="nsubhead" formControlName="nsubhead" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="ndescription">Notification Description:</label>
                  <textarea id="ndescription" formControlName="ndescription" class="form-control" rows="4" required></textarea>
                </div>
                <div class="form-group">
                  <label for="notisend">Notification Send:</label>
                  <input type="text" id="notisend" formControlName="notisend" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="notifyuid">Notification User ID:</label>
                  <input type="text" id="notifyuid" formControlName="notifyuid" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="sendTime">Send Time:</label>
                  <input type="datetime-local" id="sendTime" formControlName="sendTime" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>


  