<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-6 col-lg-5">
      <div class="input-group">

        <input type="text" [(ngModel)]="searchJobTitle"
          class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" placeholder="Enter job title">
      </div>
    </div>
    <div class="col-md-6 col-lg-5 mt-2 mt-md-0">
      <div class="input-group">

        <input type="text" [(ngModel)]="searchLocation"
          class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" placeholder="Enter location">
      </div>
    </div>

    <!-- <div class="col-md-12 col-lg-2 mt-2 mt-md-0">
      <button class="btn custom-btn rounded-circle"><i class="fa-solid fa-sliders fa-2x"></i></button>
    </div> -->
    <div class="col-md-12 col-lg-2 mt-2 mt-md-0">

      <button type="button" class="btn rounded-pill px-4 py-3 shadow-lg mx-1 findjobbtn"
        (click)="performSearch()">Search Jobs</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 custom-font">
      <div class="d-flex flex-column justify-content-center align-items-stretch">
        <div *ngFor="let job of getJobsForCurrentPage()" class="border-2 border rounded-4 p-4 mt-3">
          <span class="rounded-4 border-0 px-2 py-1" style="background-color: #86efac; color: #166534;">Urgently
            Hiring</span>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="fs-3 fw-bold">{{ job.jobtitle }}</p>


            <!-- <div class="d-flex justify-content-center align-items-center">
                <div *ngIf="liked">
                  <span class="rounded-circle mx-3 border-0" style="background-color: #fca5a5; color: #b91c1c; padding: 10px 15px;"><i class="fa-solid fa-bookmark"></i></span>
                </div> -->
            <div class="d-flex justify-content-center align-items-center">
              <!-- <div *ngIf="liked">
                    <span class="rounded-circle mx-3 border-0"
                      style="background-color: #fca5a5; color: #b91c1c; padding: 10px 15px;"><i
                        class="fa-solid fa-bookmark"></i></span>
                  </div> -->
              <!-- <div *ngIf="liked; else notLiked">
           
                    <span class="rounded-circle mx-3 border-0"
                          style="background-color: #1e2e5c41; color: white; padding: 10px 15px;">
                      <i class="fa-solid fa-bookmark"></i>
                    </span>
                  </div>
                  <ng-template #notLiked>
                  
                    <span class="rounded-circle mx-3 border-0"
                          style="background-color: #1e2e5c41; color: black; padding: 10px 15px;">
                      <i class="fa-solid fa-bookmark"></i>
                    </span>
                  </ng-template> -->
              <!-- Assuming you have a property 'jobId' in your job object -->
              <div (click)="toggleLikedStatus(job.jobid)">
                <div *ngIf="job.status; else notLiked">
                  <span class="rounded-circle mx-3 border-0" style="background-color: #1e2e5c41; padding: 10px 15px;">
                    <i class="fa-regular fa-bookmark"></i>
                  </span>
                </div>
                <ng-template #notLiked>

                  <span class="rounded-circle mx-3 border-0"
                    style="background-color: #0a194741; color: black; padding: 10px 15px;">
                    <i class="fa-solid fa-bookmark"></i>
                  </span>
                </ng-template>
              </div>

            </div>
            <!-- <div class="btn-group dropend">
                  <button type="button" class="btn rounded-pill dropdown-toggle text-white"
                    style="background-color: #1E2E5C;" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-bookmark"></i>&nbsp;&nbsp;Save job</a></li>
                  </ul>
                </div> -->


          </div>
          <p class="rounded-pill px-2 py-1 mx-2"><i class="fa-solid fa-building"></i>&nbsp;{{ job.companyforthisjob }}
          </p>
          <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
            <p class="rounded-pill px-2 py-1 mx-2 custom-pills">{{ job.numberofopening }} openings(s)</p>
            <p class="rounded-pill px-2 py-1 mx-2 custom-pills"><i class="fa-solid fa-location-dot"></i>&nbsp;{{
              job.locationjob }}</p>
            <p class="rounded-pill px-2 py-1 mx-2 custom-pills"><i class="fa-solid fa-sun"></i>&nbsp;{{ job.jobtype }}
            </p>
          </div>
          <p class="rounded-3 px-2 py-1 mx-2"><i class="fa-solid fa-dollar-sign"></i>&nbsp;{{ job.payjob }}</p>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item mx-1 my-0 rounded-3">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed custom-font py-2 rounded-pill custom-btn" type="button"
                  (click)="toggleDescriptionVisibility(job)" aria-expanded="false">
                  Job Description
                </button>
              </h2>
              <div *ngIf="job.isDescriptionVisible" class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body m-2 px-2 py-2 rounded-3" style="background-color: #bbbbbb;">
                  <p>
                    About Us:
                    {{ job.companyforthisjob }} {{ job.descriptiondata }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="rounded-3 px-2 py-1 mx-2"><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;5 January 2024</p>
          <!-- Add Apply button -->
          <button class="btn custom-btn mt-3 rounded-pill" (click)="applyForJob(job)">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-4 mb-4">
    <div class="col-md-6">
      <div class="pagination d-flex justify-content-center align-items-center">
        <button class="btn custom-pills rounded-circle mx-2" (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1">
          <i class="fas fa-chevron-left"></i>
        </button>
        <span class="page-info mx-2">{{ currentPage }} / {{ totalPages }}</span>
        <button class="btn custom-pills rounded-circle mx-2" (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === totalPages">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>