.blue-bgColor {
    color: white;
    background-color: #1e2e5c;
}

thead th {
    text-align: center;
}
.table-width
{
    width: 8%;
}
.action-width
{
    width: 13%;
}
.custom-table {
    border: 1px solid black;
}
