<div class="container mt-6 custom-table-container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- <h2 class="text-center">Job Posts</h2> -->
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th>Employer Name</th>
                            <th>Employer Email</th>
                            <th>Job Title</th>
                            <th>Company</th>
                            <th>Approved</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let job of jobPosts">
                            <td>{{ job.empName }}</td>
                            <td>{{ job.empEmail }}</td>
                            <td>{{ job.jobtitle }}</td>
                            <td>{{ job.companyforthisjob }}</td>
                            <!-- <td>{{ job.approvejob }}</td> -->
                            <td> 
                                <button class="btn btn-primary" (click)="approveJob(job.jobid)">
                                    {{ job.approvejob ? 'Disapprove' : 'Approve' }}
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary">Info</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>