/* .blue-bgColor {
    color: white;
    background-color: #1e2e5c;
}

thead th {
    text-align: center;
}

.table-width {
    width: 8%;
}

.action-width {
    width: 13%;
} */

.custom-table {
    border: 3px solid black;
}
.custom-table th,
.custom-table td {
  border: 3px solid #dee2e6; /* Add border to table headers and cells */
}

.custom-table-container
{
    margin-top: 5%;
}

