<!-- <div class="latest-blogs" style="border-right: 2px solid #ccc;">

  <ul style="list-style-type: none; ">
    <li *ngFor="let blog of blogs" class="blog-item">
      <div class="table-padding">
        <table class="" style="width: 100%;">
          <tr class="padding-row">
            <td style="width: 80%; border-bottom: 1px solid #ccc;" class="padding-row">
              <h1><a (click)="navigateToBlogDetails(blog.blog_id)" style="text-decoration: none; cursor: pointer;">{{
                  blog.title }}</a></h1>
              <ul>
                <li *ngFor="let item of blog.content">{{ item }}</li>
              </ul>
              <p class="description">{{ blog.des }}</p>
              <div class="button-style">
                <span *ngFor="let tag of blog.tags" class="category-button">{{ capitalizeFirstLetter(tag) }}</span>
              </div>
            </td>
            <td style="border-bottom: 1px solid #ccc; padding-left: 8%;">
              <img [src]="blog.banner" alt="Blog Image" width="145" height="100">
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
  <button (click)="loadMoreBlogs()" class="load-more-button btn btn-primary">
    Load More
  </button>
</div> -->

<div class="latest-blogs" style="border-right: 2px solid #ccc;">
  <ul style="list-style-type: none;">
    <li *ngFor="let blog of blogs" class="blog-item">
      <div class="table-padding">
        <table class="responsive-table">
          <tr class="padding-row">
            <td style="width: 100%;" class="padding-row">
              <h1 style="padding-top: 2%;" ><a (click)="navigateToBlogDetails(blog.blog_id)" style="text-decoration: none; cursor: pointer;">{{
                  blog.title }}</a></h1>
              <ul>
                <li *ngFor="let item of blog.content">{{ item }}</li>
              </ul>
              <p class="description font-gelasio">{{ blog.des }}</p>
              <div class="button-style" style="padding-top: 2%; padding-bottom: 2%;">
                <span *ngFor="let tag of blog.tags" class="category-button">{{ capitalizeFirstLetter(tag) }}</span>
              </div>
            </td>
            <td class="image-column"> <!-- Add text-align: right; -->
              <img [src]="blog.banner" alt="Blog Image" width="145" height="100">
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
  <div class="button-container">
    <button class="btn btn-primary" (click)="loadMoreBlogs()">Load More</button>
  </div>
</div>
