<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" [(ngModel)]="searchJobTitle"
                    class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline"
                    placeholder="Enter job title">
            </div>
        </div>
        <div class="col-md-6 col-lg-5 mt-2 mt-md-0">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                <input type="text" [(ngModel)]="searchLocation"
                    class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline"
                    placeholder="Enter location">
            </div>
        </div>
        <div class="col-md-12 col-lg-2 mt-2 mt-md-0">
            <button type="button" class="btn rounded-pill px-4 py-3 shadow-lg mx-1 findjobbtn"
                (click)="filterJobs()">Search Jobs</button>
        </div>
    </div>
</div>


<hr>
<div class="container" [hidden]="!showJobFeed" id="jbfeed">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="container">
            <app-jobcardu></app-jobcardu>
        </div>
    </div>
</div>



<div class="container" [hidden]="!showJobSearches" id="showsearches">
    <div class="row">
        <div class="col-md-12">
            <div>

                <table class="table">
                    <thead>
                        <tr>

                            <th>Job Title</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let application of datajobs">

                            <td>{{ application.jujobtitle }}</td> <!-- Display jujobtitle -->

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>