<div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="dropdown">
          <input type="text" class="form-control" [(ngModel)]="searchJobTitle" (click)="toggleJobTitleDropdown()" placeholder="Enter job title">
          <ul class="dropdown-menu" [ngClass]="{ 'show': showJobTitleDropdown }">
            <li *ngFor="let title of allJobTitles" (click)="selectJobTitle(title)">{{ title }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 mt-2 mt-md-0">
        <div class="dropdown">
          <input type="text" class="form-control" [(ngModel)]="searchLocation" (click)="toggleLocationDropdown()" placeholder="Enter location">
          <ul class="dropdown-menu" [ngClass]="{ 'show': showLocationDropdown }">
            <li *ngFor="let location of allLocations" (click)="selectLocation(location)">{{ location }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-2 mt-2 mt-md-0">
        <button type="button" class="btn custom-pills w-100" (click)="filterJobs()">Search Jobs</button>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="hello text-center" style="padding: 15px;">
                    <a (click)="showContainer('jbfeed')" class="btn custom-pills">Job Feed</a>
                </div>
                <div class="hello text-center" style="padding: 15px;">
                    <a (click)="showContainer('showsearches')" class="btn custom-pills">Job Searches</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container" [hidden]="!showJobFeed" id="jbfeed">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="container">
            <app-jobcardu></app-jobcardu>
        </div>
    </div>
</div>



<div class="container" [hidden]="!showJobSearches" id="showsearches">
    <div class="row">
        <div class="col-md-12">
            <div>

                <table class="table">
                    <thead>
                        <tr>

                            <th>Job Title</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let application of datajobs">

                            <td>{{ application.jujobtitle }}</td> <!-- Display jujobtitle -->

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>