<!-- <div class="container text-center" style="margin: 30px;">
  <h4>SEEKERS DETAILS</h4>
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr style="background-color: rgb(143, 236, 143);">
            <th class="grey-background">User Name</th>
            <th>First Name</th>
            <th class="grey-background">Last Name</th>
            <th>Password</th>
            <th class="grey-background">Company</th>
            <th>Website</th>
            <th class="grey-background">Phone</th>
            <th>Country</th>
            <th class="grey-background">State</th>
            <th>City</th>
            <th class="grey-background">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of data" style="background-color: rgb(216, 252, 216);">
             <td>{{ user.uid }}</td> 
            <td><a href="mailto:{{ user.userName }}">{{ user.userName }}</a></td>

            <td>{{ user.userFirstName }}</td>
            <td>{{ user.userLastName }}</td>
            <td></td>
            <td>{{ user.companyuser }}</td>
            <td>{{ user.websiteuser }}</td>
          <td><a href="tel:{{ user.userphone }}">{{ user.userphone }}</a></td>

            <td>{{ user.usercountry }}</td>
            <td>{{ user.userstate }}</td>
            <td>{{ user.usercity }}</td>
            <td>
              <button class="btn custom-btn rounded-pill" (click)="sendNotification(user.uid)">Send Notification</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid mr-3">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
        <h4>SEEKERS DETAILS</h4>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr style="background-color: rgb(143, 236, 143);">
                <th class="grey-background">User Name</th>
                <th>First Name</th>
                <th class="grey-background">Last Name</th>
                <th>Password</th>
                <th class="grey-background">Company</th>
                <th>Website</th>
                <th>Phone</th>
                <th>Country</th>
                <th class="grey-background">State</th>
                <th>City</th>
                <th class="grey-background">Notification</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data" style="background-color: rgb(216, 252, 216);">
                <td><a href="mailto:{{ user.userName }}">{{ user.userName }}</a></td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userLastName }}</td>
                <td></td>
                <td>{{ user.companyuser }}</td>
                <td>{{ user.websiteuser }}</td>
                <td><a href="tel:{{ user.userphone }}">{{ user.userphone }}</a></td>
                <td>{{ user.usercountry }}</td>
                <td>{{ user.userstate }}</td>
                <td>{{ user.usercity }}</td>
                <td>
                  <button class="btn custom-btn rounded-pill" (click)="sendNotification(user.uid)">Send Notification</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid mr-3">
  <div class="row justify-content-center" style="margin: 3%;">
    <div class="col-lg-10">
      <div class="text-center" >
        <h4>SEEKERS DETAILS</h4>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr style="background-color: rgb(143, 236, 143);">
                <th>Name</th>
                <th>Phone</th>
                <th>Email ID</th>
                <th>Notification</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of data" style="background-color: rgb(216, 252, 216);">
                <td>{{ user.userFirstName }} {{ user.userLastName }}</td>
                <td><a href="tel:{{ user.userphone }}">{{ user.userphone }}</a></td>
                <td><a href="mailto:{{ user.userName }}">{{ user.userName }}</a></td>
                <td>
                  <button class="btn custom-btn rounded-pill" (click)="sendNotification(user.uid)">Send
                    Notification</button>
                </td>
                <td>
                  <button type="button" class="btn" style="background-color: #1e2e5c; color: white;">Info</button>
                  &nbsp;<button type="button" class="btn btn-secondary" (click)="toggleUserActivation(user.uid)">
                    {{ user.accdeactivate ? 'Activate' : 'Deactivate' }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>