<div class="container-fluid" style="background-color: #add8e6; padding: 50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="container" style="margin-top: 80px; margin-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <a routerLink="/finjobpage">
                                        <div class="input-group rounded">
                                            <input type="text" id="findjob" name="findjob"
                                                class="form-control rounded-pill border-0 py-3 px-4"
                                                placeholder="Search Career or Company" [(ngModel)]="searchQuery" />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary rounded-pill px-4"
                                                    style="background-color: #e6f7ff; color: black;" type="button">Search</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-md text-center">
                            <div class="rounded shadow p-4"
                                style="background-color: #e6f7ff; border-radius: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                <h2 class="font-weight-bold text-center mb-4">Let Employers Find You!</h2>
                                <p class="text-center mb-3">Get discovered by 10,000+ Employers & apply to jobs in a
                                    single click</p>
                                <p class="text-center mb-3">Get notified about jobs matching your criteria</p>
                                <p class="text-center mb-3">Create Job Alert</p>
                                <button class="btn btn-danger btn-block" (click)="navigateToSignUp()">Register for
                                    Free</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4" style="background-color: #add8e6;">
    <div class="container category-location-container">
        <div class="row">
            <div class="col-md-5 text-center section rounded-pill" style="background-color: #e6f7ff;">
                <h2>Show Jobs by Location</h2>
                <div class="links rounded-pill">
                    <a *ngFor="let location of data" [routerLink]="['/finjobpage', location.locationjob]">
                        {{ location.locationjob }}
                    </a>
                </div>
            </div>
            <div class="col-md-5 text-center section rounded-pill" style="background-color: #e6f7ff;">
                <h2>Show Jobs by Category</h2>
                <div class="links">
                    <a *ngFor="let location of data" [routerLink]="['/finjobpage', location.jobtitle]">
                        {{ location.jobtitle }}
                    </a>
                </div>
            </div>
    
        </div>
    </div>


    <!-- <div class="container">
        <h2 class="text-center mt-4" style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Top Recruiters
            Hiring</h2>
        <div class="row m-4">
            <div class="logo-container">
                <div *ngFor="let company of companies" class="company-logo">
                    <img [src]="company.logoUrl" alt="{{ company.name }}" />
                </div>
            </div>
    
        </div>
    </div> -->





    <div class="container mt-2 text-center">
        <p><a routerLink="/login"><b>Post your resume</b></a> - It only takes a few seconds</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2 hello text-center" style="padding: 15px;">
                <h2><a href="#" (click)="showContainer('jbfeed')">Job Feed</a></h2>
            </div>
            <div class="col-md-2 hello text-center" style="padding: 15px;">
                <h2><a href="#" (click)="showContainer('showsearches')">Job Searches</a></h2>
            </div>
        </div>
    </div>
    <hr>

    <div class="container" [hidden]="!showJobFeed" id="jbfeed">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="custom-box clickable" style="margin: 10px 0px; border-radius: 20px;"
                            *ngFor="let job of getJobsForCurrentPage()" (click)="selectJob(job)">
                            <h1>{{ job.jobtitle }}</h1>
                            <h2>{{ job.companyforthisjob }}</h2>
                            <h4><strong>Number of Openings:</strong> {{ job.numberofopening }}</h4>
                            <h4><strong>Location:</strong> {{ job.locationjob }}</h4>

                            <h4><strong>Schedule:</strong> {{ job.schedulejob }}</h4>
                            <h4><strong>Pay:</strong> {{ job.payjob }}</h4>
                            <!-- Display other relevant job information here -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container custom-box" style="border-radius: 20px;" *ngIf="selectedJob">
                            <h2>{{ selectedJob.jobtitle }}</h2>
                            <h3>{{ selectedJob.companyforthisjob }}</h3>
                            <h4><strong>Number of Openings:</strong> {{ selectedJob.numberofopening }}</h4>
                            <h4><strong>Location:</strong> {{ selectedJob.locationjob }}</h4>
                            <!-- <p>{{ selectedJob.location }}</p> -->
                            <button type="button" class="btn btn-primary" (click)="navigateToSignIn()">Apply
                                Now</button>
                            <ul>
                                <!-- <li>{{ selectedJob.descriptiondata }}</li> -->
                            </ul>
                        </div>

                        <div class="container custom-box" style="border-radius: 20px; margin-top: 10px;" *ngIf="selectedJob">
                            <h2>{{ selectedJob.jobtitle }}</h2>
                            <h3>{{ selectedJob.companyforthisjob }}</h3>
                            <h4><strong>Number of Openings:</strong> {{ selectedJob.numberofopening }}</h4>
                            <h4><strong>Location:</strong> {{ selectedJob.locationjob }}</h4>
                            <h4><strong>Job Type:</strong> {{ selectedJob.jobtype }}</h4>
                            <h4><strong>Schedule:</strong> {{ selectedJob.schedulejob }}</h4>
                            <h4><strong>Pay:</strong> {{ selectedJob.payjob }}</h4>
                            <h4><strong>Pay Job Sup:</strong> {{ selectedJob.payjobsup }}</h4>
                            <ul>
                                <li *ngFor="let description of selectedJob.descriptiondata">{{ description }}</li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button class="btn btn-primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                Previous
            </button>
            <span class="page-info">{{ currentPage }} / {{ totalPages }}</span>
            <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)"
                [disabled]="currentPage === totalPages">
                Next
            </button>
        </div>

    </div>

</div>


<div class="container" [hidden]="!showJobSearches" id="showsearches">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Trending Searches</h2>

            <button (click)="toggleTrending()" class="btn btn-primary text-center mt-4">
                {{ showTrending ? 'Show Less' : 'Show More' }}
            </button>
            <div class="row mt-4" *ngIf="showTrending">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Full Time Remote</li>
                        <li>Full Time Kochi, Kerala</li>
                        <!-- Add more items as needed -->
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Full Time Indore, Madhya Pradesh</li>
                        <li>Part Time Remote</li>
                        <!-- Add more items as needed -->
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Full Time Visakhapatnam, Andhra Pradesh</li>
                        <li>Full Time Ahmedabad, Gujarat</li>
                        <!-- Add more items as needed -->
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Full Time Lucknow, Uttar Pradesh</li>
                        <li>Work From Home Kalyan Dombivli, Maharashtra</li>
                        <!-- Add more items as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-4 "
    style="background-image: url('assets/Boost-Your-Job-Hunt.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; padding: 6rem;">

    <div class="row">
        <!-- Main Content Column with Image -->
        <div class="col-md-6 text-center">


            <!-- <div class="card-body">
                <h2 class="card-title" style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Boost Your Job Hunt</h2>
                <p class="card-text">
                    Get a CV that highlights your profile and increases views by up to 50%.
                </p>
            </div> -->

        </div>
        <!-- First Additional Column -->
        <div class="col-md-2">

        </div>
        <!-- Second Additional Column -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><b>Resume Spotlight</b></h2>
                    <p class="card-text">
                        Stand out of the crowd! We highlight your profile to get it easily noticed by Employers.
                    </p>
                    <a href="#" class="btn btn-primary btn-custom">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center mt-4" style="color: black;">
        <h1><b>PRODUCTS AND SERVICES</b></h1>

    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-6" style="border-right: 2px solid grey;">
            <div class="container">
                <div class="row">
                    <h1><b>For Employers</b></h1>
                    <h3>Empower your team with an automated hiring process and build your team with top-tier talent to
                        drive success and innovation in your organization.</h3>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Applicant Tracking System (ATS) (1).png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Applicant Tracking System (ATS)</h2>
                                </a>
                                <p>Streamline your hiring processes with the help of ATS, which allows employers to
                                    manage job applications, schedule interviews, communicate with candidates, and track
                                    applicant status.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Job Posting and Promotion (1).png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2> Job Posting and Promotion:</h2>
                                </a>
                                <p>Create detailed job descriptions, specify job requirements, set desired
                                    qualifications easily and promote job listings to reach a larger talent pool.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Resume Database Access.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2> Resume Database Access:</h2>
                                </a>
                                <p>Employers can search for potential candidates from the vast database of resumes and
                                    profiles using various filters like skills, experience, location, and more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Analytics and Insights (1).png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Analytics and Insights:</h2>
                                </a>
                                <p>Our analytics tools allow employers to track the performance of their job listings.
                                    These insights help employers make data-driven decisions, optimize job postings, and
                                    allocate resources.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Company Branding.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2> Company Branding:</h2>
                                </a>
                                <p>Showcasing a strong employer brand can attract more qualified candidates who align
                                    with the company's values and culture.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="container">
                        <!-- <div class="row">
                            <h2>Analytics and Insights:</h2>
                            <p>Our analytics tools allow employers to track the performance of their job listings.</p>
                        </div> -->
                        <div class="">
                            <button routerLink="/employer" class="btn btn-primary">SEE IT IN ACTION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="border-left: 2px solid grey;">
            <div class="container">
                <div class="row">
                    <h1><b>For Job Seekers</b></h1>
                    <h3>Simplify your job search with job alerts, resume building, detailed insights on your application
                        process and resources
                    </h3>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Job Search and Alerts.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Job Search and Alerts:</h2>
                                </a>
                                <p>Get relevant search results by setting up job alerts to receive notifications when
                                    new job listings that match your criteria are posted.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Resume Building and Posting.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Resume Building and Posting:</h2>
                                </a>
                                <p>Job seekers can create professional and compelling resumes with the help of a resume
                                    builder tool.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Company Reviews and Insights.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2> Company Reviews and Insights:</h2>
                                </a>
                                <p>Get in-depth company insight into a company's culture, work environment, and employee
                                    experiences, reviews and ratings
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Application Tracking.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Application Tracking:</h2>
                                </a>
                                <p>Track the status of your job applications. See when your application was viewed
                                    shortlisted for interviews, and receive updates on your application progress.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="row concom">
                            <div class="col-md-3">
                                <img src="assets/Career Resources.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <a href="/">
                                    <h2>Career Resources</h2>
                                </a>
                                <p>Our articles, blogs, and newsletters provide valuable insights on resume writing,
                                    interview preparation, salary negotiation, and career growth for both job seekers
                                    and employers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="container">
                        <!-- <div class="row">
                            <h2>It's Easy to Get Started</h2>
                            <p>Simplify your job search and career development — see how with a personalized demo.</p>
                        </div> -->
                        <div class="">
                            <button routerLink="/login" class="btn btn-primary">GET START</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <img src="assets/carosalforfindjob.gif" alt="" class="img-fluid" style="max-height: 300px; width: 100%;">
        </div>
    </div>
</div>

<div class="container " style="border-radius: 25px; overflow: hidden;">
    <div class="row ">
        <!-- Content Column with Animation -->
        <div class="col-md-6 d-flex align-items-center ">
            <div>
                <h1 class="text-center"><b>Get access to 64k+ jobs on the job4jobless app</b></h1>
                <h2 class="text-center">Get real-time job updates & new job notifications!</h2>
                <h2 class="text-center">Scan to download</h2>
            </div>
        </div>
        <!-- Image Column with Background Color and Padding -->
        <div class="col-md-6 text-center">
            <!-- <img src="assets/job4jobless-app.png" alt="Download QR Code" > -->
            <img src="assets/job4jobless-app-01.png" style="height:40vh;" alt="">
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
         
            <div class="modal-body">
                <img src="assets/popupimage.jpg" alt="Popup Image" class="img-fluid">
                <div class="button-container">
                    <button class="btn btn-primary button-signin" onclick="navigateToSignIn()">Sign In</button>
                    
                 
                
                    <button class="btn btn-success button-register" onclick="navigateToSignUp()">Register</button>
                </div>
                
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="content-container">
          <div class="image-container hide-on-mobile">
            <img src="assets/popupimage.jpg" alt="Popup Image" class="img-fluid">
          </div>
          <div class="button-container p-4">
            <div class="container">
              <div class="row">
                <img src="assets/Job4jobless & Hustleforwork-01.png" alt="" style="cursor: pointer" onclick="window.location.href = '/'">
              </div>
              <div class="row text-center m-4">
                <h1 style="font-size: 2rem; font-weight: bold; color: black;">Get Started <i class="fas fa-arrow-circle-right"></i></h1>
              </div>
  
              <div class="row text-center">
                <h2>Job Seeker</h2>
                <button class="btn btn-primary button-signin" onclick="navigateToSignIn()">Sign In</button>
                <button class="btn btn-success button-register" onclick="navigateToSignUp()">Register</button>
              </div>
              <div class="row">
                <div class="divider"></div>
              </div>
              <div class="row text-center">
                <h2>Employer</h2>
                <button class="btn btn-outline-primary " onclick="navigateToSignInEmp()">Sign In</button>
                <button class="btn btn-outline-success " onclick="navigateToSignUpEmp()">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<app-footer></app-footer>